[submodule "characters/mb_female/assets"]
	path = characters/mb_female/assets
	url = https://github.com/Upliner/mb-assets
[submodule "characters/mb_male/assets"]
	path = characters/mb_male/assets
	url = https://github.com/Upliner/mb-assets
